@model BootcampLMS.Models.UserProfile
@{
    ViewBag.Title = "AddUser";
}

@*//random change*@

<h2>Dev User Control Panel</h2>
<sub>Dev Usage Only</sub>

<div>
    @using (Html.BeginForm("AddUser", "Dev", FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName)
            @Html.TextBoxFor(m => m.FirstName)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LastName)
            @Html.TextBoxFor(m => m.LastName)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.RequestedRole)
            @Html.TextBoxFor(m => m.RequestedRole)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.GradeLevel)
            @Html.TextBoxFor(m => m.GradeLevel)
        </div>
        <div class="form-group">
            <button type="submit">Add User To Database</button>
        </div>
    }
</div>


