<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Bootcamp LMS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="~/Content/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/jquery-ui.theme.css">

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Bootcamp LMS", "Home", "Account", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Admin Dashboard", "Index", "Admin")</li>

                    }
                    @if (User.IsInRole("Parent"))
                    {
                        <li>@Html.ActionLink("Parent Dashboard", "Index", "Parent")</li>

                    }
                    @if (User.IsInRole("Teacher"))
                    {
                        <li>@Html.ActionLink("Teacher Dashboard", "Index", "Teacher")</li>

                    }
                    @if (User.IsInRole("Student"))
                    {
                        <li>@Html.ActionLink("Student Dashboard", "Index", "Student")</li>

                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p align="center">
                &copy; @DateTime.Now.Year - <a href="mailto:MaxPoshusta@gmail.com">Max Poshusta</a> & <a href="mailto:andrewking0207@gmail.com">Andrew King</a>
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/moment-with-locales.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
